<div class="mat-elevation-z8">
    <table mat-table [dataSource]="terrains" matSort (matSortChange)="announceSortChange($event)">


        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom"> Nom </th>
            <td mat-cell *matCellDef="let terrain"> {{terrain.nom}} </td>
        </ng-container>


        <ng-container matColumnDef="quantite">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantite"> Quantite
            </th>
            <td mat-cell *matCellDef="let terrain"> {{terrain.quantite}} </td>
        </ng-container>


        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
                Description
            </th>
            <td mat-cell *matCellDef="let terrain"> {{terrain.description}} </td>
        </ng-container>
        <ng-container matColumnDef="pointGeo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pointGeo"> pointGeo
            </th>
            <td mat-cell *matCellDef="let terrain"> {{terrain.pointGeo}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let terrain">
                <button mat-raised-button color="primary">
                    Détails
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="colonnes"></tr>
        <tr mat-row *matRowDef="let row; columns: colonnes;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>