.mat-elevation-z8 {
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.mat-table {
  width: 100%;
}

mat-paginator {
  margin-top: 10px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}